<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuration</title>
    <link href="~/StyleSheet.css" rel="styles.css">
</head>

<body>
   <div class="container">
       <h1>Home</h1>

       <div class="box">
            <div>@ViewBag.ClientID</div>
            <div>@ViewBag.ClientSecret</div>
       </div>
   </div>
   
</body>

</html>