@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>The foremopst authority for good humour that will find anywhere on your local host.</p>
</div>
